---
import PageLayout from '../components/PageLayout.astro';
import Footer from '../components/Footer.astro'
---

<PageLayout title="Communicating with HERON">
    <div class="h-full min-h-screen w-auto flex flex-col items-center">
        <div class="pt-8 text-white font-body w-[80vw] md:w-[50vw]">
            <h1 class="font-display text-6xl text-center">HERON COMMS</h1>
            <p class="pt-8">
                HERON is designed to be a satellite for amateur radio operators to communicate to. 
                As such, we provide the protocols, formats, and frequencies for anyone to do so.
            </p>
            <p class="pt-2">Please note: in order to transmit, you <b>must</b> have a valid amateur radio license in the country that you are operating in that allows for digital communication in the 70cm band.</p>
            <p class="pt-2">If you run into any issues or want more information concerning the commands and command structure, feel free to <a href="mailto:spacesys@utat.ca" target="_blank" >contact us</a>.</p>
            
            <p class="pt-4">At this time (Nov. 2023), we are unable to provide communications details due to regulatory reasons. We are actively investigating alternative pathways and hope to be able to give back to the amateur community soon!</p>


        </div>
    </div>
    <Footer />
</PageLayout>
