---
import ContentBox from './ContentBox.astro';
import ImageBox from './ImageBox.astro';
---

<div id="deployment" class="h-screen w-auto flex flex-col md:flex-row justify-center items-center snap-start">
    <ContentBox title="DEPLOYMENT">
        <p class="pb-2">Once Transporter 9 reaches an altitude of 999km, HERON is gently pushed out into space.</p>
        <p>Thirty minutes after deployment, HERON awakens and deploys its UHF antenna.</p>
    </ContentBox>
    <ImageBox>
        holy moley it's an animation or something?
        <svg />
    </ImageBox>
</div>
