---
import utatlogo from '../images/utat.png'
---
<footer>
    <div class="pt-16 pb-4 w-auto flex flex-col justify-center items-center">
        <a href="https://www.utat.ca/space-systems" target="_blank"><img class="h-[5vh]" src={utatlogo} /></a>
    </div>
</footer>
