---
import ContentBox from './ContentBox.astro';
import ImageBox from './ImageBox.astro';

import { Icon } from 'astro-icon'
---

<div id="learn" class="h-screen w-auto flex flex-col md:flex-row justify-center items-center snap-start">
    <ContentBox title="LEARN MORE">
        <h3 class="font-display text-2xl mt-4">HERON</h3>
        <p class="mt-2"><a href="/comms" target="_blank">Communicating with HERON</a></p>
        <p class="mt-2"><a href="https://www.notion.so/utat-ss/HERON-Operations-aa727ae93a944f7bb7c9d3909eddd5e3?pvs=4" target="_blank">HERON Operations Wiki</a></p>
        <p class="mt-2"><a href="https://utat-ss.readthedocs.io/en/master/" target="_blank">HERON ReadTheDocs</a></p>

        <h3 class="font-display text-2xl mt-8">UTAT</h3>
        <p class="mt-2"><a href="https://www.utat.ca/" target="_blank">UTAT Homepage</a></p>
        <p class="mt-2"><a href="https://www.utat.ca/space-systems" target="_blank">UTAT Space Systems</a></p>
        <div class="flex flex-row w-auto h-auto mt-8">
            <a class="h-8 w-8 mr-4" href="https://github.com/utat-ss" target="_blank"><Icon name="mdi:github" /></a>
            <a class="h-8 w-8" href="https://www.instagram.com/uoft_aerospaceteam/" target="_blank"><Icon name="mdi:instagram" /></a>
            <a class="h-8 w-8 ml-4" href="mailto:spacesys@utat.ca" target="_blank"><Icon name="mdi:email" /></a>
        </div>
    </ContentBox>
</div>
