---
import ContentBox from './ContentBox.astro';
import ImageBox from './ImageBox.astro';
---

<div id="operations" class="h-screen w-auto flex flex-col md:flex-row justify-center items-center snap-start relative">
    <ContentBox title="OPERATIONS">
        <p class="pb-2">Once operational, HERON acts as a WORD on the UHF band, available to amateur radio operators across the world.</p>
        <p>Interested in talking to HERON? Our comms guide can be found <a href="comms">here</a>.</p>
    </ContentBox>
    <ImageBox>
        <div class="h-[25vh] md:h-0" />
    </ImageBox>

    <div id="ops-earth-svg" class="absolute top-[60vh] h-[40vh] md:top-[50vh] md:h-[50vh] w-full">
        <svg width="100%" height="100%" viewBox="3000 3000 8000 8000" version="1.1" class="absolute top-[10vh] stroke-white stroke-[40px] fill-transparent" stroke-linecap="round">
            <g id="groundstation-ops">
                <path d="M4494.38,6474.64l0,2546.25" />
                <path d="M4585.13,6576.77l0,2444.12" />
                <path d="M4507.15,6229.12c27.311,-24.769 133.366,47.609 236.686,161.528c103.32,113.919 165.03,226.517 137.719,251.286c-27.31,24.77 -133.365,-47.609 -236.685,-161.528c-103.32,-113.919 -165.03,-226.516 -137.72,-251.286Z" />
                <path d="M4669.51,6304.88c-8.818,11.371 22.803,54.883 27.789,64.855c25.071,50.141 63.046,81.379 120.837,81.379c18.878,0 36.541,0.375 51.787,-12.33c35.518,-29.598 -20.57,-122.214 -39.457,-149.196c-12.23,-17.472 -49.269,-55.591 -54.253,-45.622c-2.437,4.873 5.987,15.496 7.398,19.728c23.141,69.425 104.533,141.338 181.255,113.439c19.33,-7.03 33.526,-20.921 39.457,-40.69c16.431,-54.77 -13.658,-111.067 -51.787,-149.197c-6.449,-6.448 -58.636,-47.272 -64.118,-30.825c-21.467,64.401 156.579,166.474 209.615,113.438c42.302,-42.302 -27.047,-164.788 -72.749,-180.022c-0.555,-0.185 -7.953,-0.678 -8.631,0c-13.209,13.209 12.276,58.318 22.195,66.584c34.998,29.165 145.224,67.633 184.954,34.524c56.423,-47.019 -65.74,-165.647 -83.846,-156.594c-24.821,12.41 14.071,57.057 24.661,64.117c30.965,20.644 80.125,32.472 117.137,28.36c10.456,-1.162 21.742,-7.398 32.059,-7.398" />
                <path d="M4497.66,6469.88l101.33,-164.822" />
                <path d="M4585.42,6576.93l160.744,-15.732" />
            </g>
            <g id="signal-ops">
                <path d="M5040.7,5665.59c331.65,32.422 571.995,193.72 593.97,622.06" class="animate-pulse" />
                <path d="M5268.71,5326.18c374.036,105.832 689.146,413.693 738.459,875.438" class="animate-pulse animation-delay-[600ms]" />
                <path d="M5487.92,5024.98c594.97,218.177 859.266,580.124 859.266,1124.46" class="animate-pulse animation-delay-[1300ms]" />
            </g>
        </svg>
        <svg class="h-full w-full stroke-white">
            <circle class="[r:200vh] [cy:201vh] md:[r:400vh] md:[cy:410vh] [cx:50%] fill-transparent stroke-white stroke-[0.5vh] [stroke-dasharray:8]" />
            <circle id="ops-earth" class="[r:150vh] [cy:180vh] md:[r:300vh] md:[cy:340vh] [cx:50%] fill-gray-950 stroke-white stroke-[0.5vh]" />
        </svg>
    </div>

</div>
