---
import '@fontsource/jost'

const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{title}</title>

        <style>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
            @font-face {
                font-family: 'Routed Gothic';
                src: url('/fonts/routed-gothic.ttf');
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
        </style>
	</head>

    <body class="bg-gray-950">
        <slot />
    </body>
</html>
