---
const {start, end} = Astro.props
---

<th class="border-0 text-sm pl-1 pr-2 whitespace-nowrap w-auto"><span class="text-left float-left whitespace-nowrap">{start}</span>&nbsp;<span class="text-right float-right whitespace-nowrap">{end}</span></th>
