---
---

<div id="title" class="h-screen w-auto flex flex-col justify-center items-center text-center snap-start relative">
    <h1 class="text-white text-[10vh] md:text-[20vh] font-display md:font-bold">
        HERON
    </h1>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative w-full h-12 md:h-36 bottom-[5vh] md:bottom-[9vh]" viewbox="0 0 100 100">
        <circle cx="50%" cy="8040" r="8000" class="[r:500vh] [cx:50%] [cy:501vh] fill-gray-950 stroke-white stroke-[1.25vh] md:stroke-[2.25vh]" />
    </svg>
    <h2 class="relative text-white md:text-[5vh] text-[4vh] bottom-[8vh] md:bottom-[16vh] font-display font-thin">MK. II</h2>

    <div class="absolute top-[92vh] animate-pulse h-12 w-12"> 
        <a href="#about">
            <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="w-full h-full">
                <path d="M0,0 l50,50 l50,-50" fill="none" stroke="white" stroke-linecap="round" stroke-width="5" />
            </svg>
        </a>
    </div>
</div>
